* {
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
    transition: 2s ease-in-out;
}

main {
    position: relative;
}

/* Start of the navbar styles */
#navigation-bar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em 0em;
    background: transparent;
    min-height: 40px;
    transition: 0.2s ease-in-out;
    min-width: 100%;
    z-index: 5;
}

.cards-heading p{
    font-size: 2em;
    font-weight: 800;
    color: #0e3959;
    text-align: center;
}

.company-logo-div{
    padding-top: 10px;
}

#site-logo{
    max-width: 80%;
    margin-left: 10px;
}

.navbar-main-div {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.humberger-menu{
    height: fit-content;
    background: none;
    border: none;
    position: relative;
    margin-top: 1em;
}

.humberger-menu div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 6px;
}

#navbar-list {
    list-style: none;
    position: absolute;
    top: 50px;
    right: 5px;
    display: none !important;
    /* font-size: 1.1em; */
    font-size: 1.1em;
    font-weight: 300;
}

#navbar-list > li {
    margin: 5px 0em;
    text-align: right;
}

#navbar-list > li > a {
    text-decoration: none;
    color: white;
}

.navbar-dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    padding: 30px 16px;
    padding-bottom: 10px;
    z-index: 10;
    left: -18px;
}

.dropdown-content a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.navbar-dropdown:hover .dropdown-content {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/* End of the navbar styles */


/* Top Scroll button CSS */
.top-scroll-button{
    position: fixed;
    bottom: 30px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #03a9f5;
    display: none;
    z-index: 8;
}

.top-scroll-button a{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in;
}

.top-scroll-button a img{
    max-width: 60%;
}

/* News Letter Div */
.news-letter-body-div{
    margin: 30px 10px;
}

.news-letter-body-div form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#news-letter-email-input{
    min-width: 60vw;
    border-radius: 30px;
    min-height: 35px;
    border: 1px solid #0e3959;
    margin: 10px 10px;
    font-size: 0.7em;
    font-weight: 300;
    padding: 0px 15px;
}

#news-letter-email-input:hover, #news-letter-email-input:active{
    border: 1px solid #0e3959;
}

#news-letter-submit{
    min-width: 80px;
    border-radius: 30px;
    border: none;
    min-height: 35px;
    background-color: #0e3959;
    margin: 10px 10px;
    color: white;
    font-size: 0.7em;
}

#news-letter-submit:hover, #news-letter-email-input:hover{
    box-shadow: -5px -5px 10px #0e3959;
}


/* Start of the footer styles */
.footer-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e3959;
    height: fit-content;
    padding: 2em 0em 0.5em 0em;
}

.footer-social-media-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer-social-media-list > li{
    margin: 0.5em 1.5em;
}

.footer-social-media-list > li > a > i {
    font-size: 1.4em;
}

/* .sitemap-links{
    min-width: 80vw;
    display: none !important;
}

.sitemap-links .col{
    margin: 20px;
    min-width: max-content;
    min-height: max-content;
}

.sitemap-links .col ul{
    list-style-type: none;
    padding-left: 0;
}

.sitemap-links .col ul li{
    margin: 10px 0px;
}

.sitemap-links .col h3{
    color: white;
}

.sitemap-links .col ul li a{
    text-decoration: none;
    color: white;
} */

.copyright-div{
    color: white;
    font-size: 0.7em;
    padding: 2em 0em 0em 0em;
}
/* End of the footer styles */

.cards-main-heading{
    font-size: 2em !important;
    font-weight: 800;
    color: #0e3959;
    text-align: center;
}


/* For Mobile devices */
@media screen and (min-width: 500px) {
    .top-scroll-button{
        bottom: 30px;
        left: 20px;
        width: 40px;
        height: 40px;
    }
    .copyright-div{
        font-size: 0.9em;
    }
    #news-letter-email-input{
        min-width: 40vw;
        min-height: 40px;
        margin: 10px 10px;
        font-size: 1em;
        padding: 0px 20px;
    }
    #news-letter-submit{
        min-width: 80px;
        min-height: 40px;
        margin: 10px 10px;
        font-size: 1em;
    }
    #site-logo{
        max-width: 50%;
    }
    .footer-social-media-list > li > a > i {
        font-size: 1.2em;
    }
    .copyright-div{
        font-size: 0.9em;
    }
    .cards-heading p{
        font-size: 2em;
    }
    .humberger-menu{
        margin-top: 1.2em;
    }
    .cards-main-heading{
        font-size: 2em !important;
    }
}


/* For Laptops */
@media screen and (min-width: 769px) {
    #navbar-list {
        display: flex !important;
        flex-direction: row !important;
        list-style: none;
        position: unset;
        top: 0px;
    }
    #navbar-list > li {
        margin: 0px 2em;
        text-align: right;
    }
    #site-logo{
        max-width: 50%;
    }
    .navbar-main-div {
        justify-content: center;
    }
    .humberger-menu{
        display: none;
    }
    #news-letter-email-input{
        min-width: 20vw;
    }
    .footer-social-media-list > li > a > i {
        font-size: 1.4em;
    }
    .cards-heading p{
        font-size: 2.4em;
    }
    .show-in-mobile-nav-links{
        display: none;
    }
    .cards-main-heading{
        font-size: 2.4em !important;
    }
}


@media screen and (min-width: 250px) and (max-width: 768px) {
    .navbar-dropdown{
        display: none !important;
    }
    .show-in-mobile-nav-links{
        display: inline-block;
    }
}