html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

/* common CSS */
.row{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3{
    max-width: 100%;
}

.card-font{
    font-size: 0.8em;
    color: #0e3959;
    font-weight: 400;
}

/* Header Section Start */
.header{
    min-height: 100vh;
    min-width: 100%;
    background-image: url(../img/index/alberta.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.background-header-section{
    background-color: black;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    min-height: 100% !important;
    min-width: 100% !important;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

.header-quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 200px 20px;
    position: relative;
    top: 0;
    z-index: 0;
}

.header-quote h1 {
    color: white;
    font-size: 1.8em;
    font-weight: 1000;
}

.header-quote p {
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.header-quote .search-button{
    min-width: 90%;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    color: #0e3959;
    position: relative;
    font-size: 0.7em;
    margin: 2%;
}
/* Header Section End */

/* Start of the main division styles */
main {
    position: relative;
}

.cards-main-heading{
    font-size: 2em !important;
    font-weight: 800;
    color: #0e3959;
    text-align: center;
}

.cards-div{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.cards-div .row .col-3{
    border: 1px solid #0e3959;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    padding: 0;
    margin: 20px 0px;
    padding: 5px;
    color: #0e3959;
    background-color: white;
}

.cards-heading h2{
    text-align: center;
    color: #0e3959;
    font-size: 1.2em;
}

.cards-div .row .col-3 a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.cards-div .row .col-3 a:visited {
    color: #0e3959;
}

.cards-div .row .col-3:hover{
    box-shadow: 0 0 30px #0e3959 !important;
    border: none;
    transition: 0.2s;
    background-color: #FEF9F3;
}

.cards-div .row .col-3 a .card-img{
    max-width: 95%;
    padding: 10px 0px;
    border-radius: 20px;
}

.cards-div .row .col-3 a .card-img img{
    max-width: 100%;
    border-radius: 20px;
}

.cards-div .row .col-3 a .card-content{
    max-width: 95%;
    padding: 20px 0;
}

.service-cards{
    justify-content: center !important;
    position: relative;
    min-width: 100% !important;
}

.services-left-div{
    position: absolute;
    left: 0;
    display: none;
    min-width: 100%;
    z-index: -3;
}

.services-left-div img {
    z-index: -3;
    position: absolute;
    top: 10px;
}

.plane-path{
    z-index: -1;
    height: 8px;
    background-color: rgb(205, 205, 205);
    overflow: hidden;
    position: absolute;
    top: 75px;
    left: 300px;
    border-radius: 50%;
    display: none;
}

.services-main-div{
    margin-bottom: 30px;
}

.circle-div{
    border-radius: 50%;
    margin: 20px;
    background-color: #0e3959;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 130px;
    height: 130px;
    box-shadow: 0 0 10px #0e3959;
}

.circle-div:hover{
    background-color: #03a9f5;
    transition: 150ms ease-in-out;
    box-shadow: 0 0 100px #0e3959;
}

.circle-div a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.circle-div a:visited{
    text-decoration: none;
    color: white;
}

.circle-div a img{
    max-width: 50%;
}

.service-name{
    display: none;
    margin-top: 5px;
}

.circle-div:hover a .service-name{
    display: flex;
    transition: 400ms ease-in-out;
}

.extra-info-main-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

.extra-info-main-div .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.extra-info-main-div .row .col-4{
    max-width: 90%;
    min-height: fit-content;
    padding-bottom: 20px;
}

.extra-info-main-div .row .col-6{
    min-width: 90%;
    min-height: 400px;
}

.extra-info-main-div .row .col-4 p{
    font-size: 1em;
    color: #0e3959;
    font-weight: 400;
    min-width: 90%;
}

.extra-info-main-div .row .col-6 iframe{
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    box-shadow: -8px -8px 15px #0e3959;
    border: none;
}

.testimonials-div{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.testimonials-cards-div .col-3{
    padding: 10px;
    border: 1px solid #0e3959;
    max-width: 90vw;
    margin: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start !important;
    align-items: center;
}

.testimonials-cards-div .col-3 div {
    margin: 10px;
}

.testimonials-cards-div .col-3:hover{
    box-shadow: 0 0 30px #0e3959;
    /* border: none; */
}

.customer-profile-pic{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.customer-profile-pic img{
    max-width: 100%;
    border-radius: 20px;
}

.customer-review{
    padding: 5px;
}

.news-letter-body-div{
    margin: 30px 10px;
}

.news-letter-body-div form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#news-letter-email-input{
    min-width: 60vw;
    border-radius: 30px;
    min-height: 35px;
    border: 1px solid #0e3959;
    margin: 10px 10px;
    font-size: 0.7em;
    font-weight: 300;
    padding: 0px 15px;
}

#news-letter-email-input:hover, #news-letter-email-input:active{
    border: 1px solid #0e3959;
}

#news-letter-submit{
    min-width: 80px;
    border-radius: 30px;
    border: none;
    min-height: 35px;
    background-color: #0e3959;
    margin: 10px 10px;
    color: white;
    font-size: 0.7em;
}

#news-letter-submit:hover, #news-letter-email-input:hover{
    box-shadow: -5px -5px 10px #0e3959;
}
/* End of the main division styles */



/* -----------------> Media Queries Start */

/* For Tablet devices */
@media screen and (min-width: 500px) {
    .col-3{
        max-width: 40vw;
    }
    .header-quote{
        padding: 250px 10px !important;
    }
    .testimonials-cards-div .col-3{
        max-width: 60vw;
    }
    .top-scroll-button{
        bottom: 30px;
        left: 20px;
        width: 40px;
        height: 40px;
    }
    .cards-heading h2{
        font-size: 1.2em;
    }
    .cards-main-heading{
        font-size: 2em !important;
    }
    .card-font{
        font-size: 1em;
    }
    .testimonials-cards-div .col-3{
        margin: 8px 0px;
    }
    #news-letter-email-input{
        min-width: 40vw;
        min-height: 40px;
        margin: 10px 10px;
        font-size: 1em;
        padding: 0px 20px;
    }
    #news-letter-submit{
        min-width: 80px;
        min-height: 40px;
        margin: 10px 10px;
        font-size: 1em;
    }
    .footer-social-media-list > li > a > i {
        font-size: 1.2em;
    }
    .copyright-div{
        font-size: 0.9em;
    }
    .header-quote h1 {
        font-size: 2em;
    }
    .header-quote p {
        font-size: 1.2em;
    }
    .header-quote .search-button{
        font-size: 0.7em;
    }
}

/* For Laptops Devices */
@media screen and (min-width: 769px) {
    .row {
        width: 95% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .col-3{
        max-width: 30%;
        padding: 8px !important;
    }
    .header-quote .search-button{
        min-width: 70%;
    }
    .services-left-div{
        display: flex;
    }
    .services-left-div img{
        display: flex;
    }
    .plane-path{
        min-width: 60%;
        display: flex;
    }
    .testimonials-cards-div .col-3{
        max-width: 27%;
        margin-top: 0;
    }
    .cards-heading h2{
        font-size: 1.6em;
    }
    .cards-main-heading{
        font-size: 2.4em !important;
    }
    .card-font{
        font-size: 1.1em;
    }
    #news-letter-email-input{
        min-width: 20vw;
    }
    .footer-social-media-list > li > a > i {
        font-size: 1.4em;
    }
    .header-quote h1 {
        font-size: 2.4em;
    }
    .header-quote p {
        font-size: 1.6em;
    }
    .header-quote .search-button{
        font-size: 0.8em;
    }
    .extra-info-main-div .row .col-4 p{
        font-size: 1.2em;
    }
}

/* For larger PC screens */
@media screen and (min-width: 1030px) {
    .row {
        width: 80% !important;
    }
    .extra-info-main-div .row .col-4{
        min-width: 35%;
        max-width: 40%;
        min-height: fit-content;
    }
    .extra-info-main-div .row .col-6{
        min-width: 55%;
        max-width: 60%;
        min-height: 500px;
    }
}

@media screen and (min-width: 1180px) {
    .plane-path{
        min-width: 75%;
    }
    .extra-info-main-div {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .extra-info-main-div .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/* Media Queries End */